body {
  background-color: #eaeaea;
}

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2 {
  color: #353841;
}

.main {
  height: 90%;
  width: 95%;
  display: grid;
  grid-template-columns: 26% auto;
  column-gap: 2px;
}

.projects {
  background-color: #f4f4f4;
  border-radius: 10px;
}

.task-section {
  display: flex;
  justify-content: space-between;
  column-gap: 2px;
}

.tasks {
  flex-grow: 48;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.task-item {
  flex-grow: 26;
  background-color: #f4f4f4;
  border-radius: 10px;
}

.projects,
.tasks,
.task-item {
  padding: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.projects-title {
  font-size: large;
  margin: 15px 10px;
}

.tasks-title {
  font-size: xx-large;
  margin: 15px 10px;
}

hr {
  height: 2px;
  color: #e5e6e7;
  background: #e5e6e7;
  font-size: 0;
  border: 0;
  margin-bottom: 15px;
  margin-top: 15px;
}

.task-item-title {
  font-size: x-large;
  margin: 15px 10px;
}

.project-title {
  font-size: large;
  color: #353841;
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 10px;
  align-items: center;
}

.folder-icon {
  height: 32px;
  width: 32px;
}

.add-project-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.button-text {
  color: #4292e3;
  font-weight: 550;
  font-size: medium;
}

.button-icon {
  height: 32px;
  width: 32px;
  margin-right: 10px;
}

.add-task-icon {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.add-task-text {
  color: white;
  font-size: medium;
  font-weight: 550;
}

.add-task-button {
  background-color: #4292e3;
  border-radius: 5px;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox-empty,
.checkbox-filled {
  width: 32px;
  height: 32px;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
}

.todo-item-left,
.todo-item-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.priority[priority="3"] {
  background-color: #f17474;
  color: #353841;
  font-weight: 550;
  padding: 5px;
  border-radius: 5px;
}

.priority[priority="2"] {
  background-color: #f1ca74;
  color: #353841;
  font-weight: 550;
  padding: 5px;
  border-radius: 5px;
}

.priority[priority="1"] {
  background-color: #77a687;
  color: white;
  font-weight: 550;
  padding: 5px;
  border-radius: 5px;
}

.todo-item-text {
  color: #353841;
  font-size: medium;
  font-weight: 550;
}

.task-item-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

textarea {
  border-radius: 10px;
  padding: 10px;
  font-size: medium;
  font-weight: 500;
  border: #b2b2b2 solid 2px;
  resize: none;
}

.item-due-date,
.item-priority {
  display: flex;
  justify-content: space-between;
  font-weight: 550;
  color: #353841;
  font-size: medium;
}

.task-item-buttons {
  display: flex;
  gap: 10px;
}

.save-button,
.delete-button {
  flex-grow: 1;
  padding: 5px 15px;
  margin: 20px;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  font-size: medium;
}

.save-button {
  background-color: #4292e3;
}

.delete-button {
  background-color: #e04845;
}

.todo-item {
  height: 100%;
  overflow: auto;
}

#projectDialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
  height: 10rem;
  border-radius: 15px;
  font-size: medium;
  font-weight: 600;
}

.addProjectDialog {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#projectTitle {
  padding: 5px;
  border-radius: 3px;
  font-size: medium;
}

.addProjectButtons {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.addProjectButtons button {
  color: white;
  background-color: #4292e3;
  padding: 5px 10px;
  border-radius: 10px;
}

#cancelAddProject {
  background-color: #e04845;
}

.project-title:hover {
  cursor: pointer;
  color: #8c96b3;
}

.tasks-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-project-button {
  height: 32px;
  width: 32px;
}

.delete-project-button:hover {
  cursor: pointer;
}

.checkbox:hover {
  cursor: pointer;
}

#taskDialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  height: 20rem;
  border-radius: 15px;
  font-size: medium;
  font-weight: 600;
}

#addTaskForm {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#addTaskForm label {
  margin-top: 10px;
}

#taskTitle {
  padding: 5px;
  border-radius: 5px;
  font-size: medium;
}

.addTaskButtons {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.addTaskButton,
.cancelAddTaskButton {
  background-color: #4292e3;
  padding: 5px 15px;
  border-radius: 5px;
  color: white;
}

.addTaskButton:hover {
  background-color: #3184d6;
}

.addTaskButton:focus {
  background-color: #387abd;
}

.cancelAddTaskButton {
  background-color: #e04845;
}

.cancelAddTaskButton:hover {
  background-color: #e03d3b;
}

.cancelAddTaskButton:focus {
  background-color: #fd524f;
}

.highlighted {
  text-decoration: underline;
}

.task-item-title:hover,
.todo-item-text:hover {
  color: #5b606e;
  cursor: pointer;
}

#nameDialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
  height: 15rem;
  border-radius: 15px;
  font-size: medium;
  font-weight: 600;
}

#changeNameForm {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#changeName {
  padding: 5px;
  border-radius: 5px;
  font-size: medium;
}

.changeNameButtons {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

#changeNameButton,
#cancelChangeName {
  background-color: #4292e3;
  padding: 5px 15px;
  border-radius: 5px;
  color: white;
}

#changeNameButton:hover {
  background-color: #3184d6;
}

#changeNameButton:focus {
  background-color: #387abd;
}

#cancelChangeName {
  background-color: #e04845;
}

#cancelChangeName:hover {
  background-color: #e03d3b;
}

#cancelChangeName:focus {
  background-color: #fd524f;
}
